/* File: styles.css */
body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #f0f2f5;
}

.navigation {
  position: absolute;
  top: 39px;
  left: 757px;
  width: 405px;
  height: 41px;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 8px 24px 0px rgba(44, 59, 99, 0.15);
}

.navigation div {
  flex: 1;
  text-align: center;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

.button1 {
  width: 202.5px;
  height: 41px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px 0px 0px 8px;
}

.button2 {
  width: 202.5px;
  height: 41px;
  background-color: #213266;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 8px 8px 0;
}

.leaderboard {
  position: absolute;
  top: 120px;
  left: 114px;
  width: 300px;
  height: 726px;
  background-color: #ffffff;
  box-shadow: 0px 8px 24px 0px rgba(44, 59, 99, 0.15);
}

.leaderboard div {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 28px;
}

.box1 {
  width: 300px;
  height: 94px;
  background-color: #213266;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 8px 0 0;
}

.lb {
  color: #ffffff;
  font-size: 28px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
}

.box2,
.box3,
.box4 {
  width: 272px;
  height: 150px;
  margin-top: 44px;
  margin-left: 14px;
}

.badge {
  position: absolute;
  transform: translateX(-50%);
  width: 52px;
  height: 62px;
  z-index: 1;
}

.club-name-container {
  position: absolute;
  margin-top: 50px;
  width: 272px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e7f1;
}

.club-name {
  color: #000000;
  font-size: 28px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* post */
.post {
  position: absolute;
  top: 120px;
  left: 528px;
  width: 864px;
  height: 623px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 8px 24px 0px rgba(44, 59, 99, 0.15);
}

.candidates {
  width: 740px;
  height: 294px;
  margin-left: 61px;
  margin-top: 76px;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 170px;
  height: 294px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-image {
  width: 170px;
  height: 170px;
}

.card-text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: lighter;
}

.vote {
  width: 88px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(140, 23, 23);
  border-radius: 8px;
  margin-top: 26px;
  cursor: pointer;
}

.vote-image {
  width: 51px;
  height: 51px;
}

.title-box {
  margin-left: 314px;
  margin-top: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  width: 304px;
  height: 70px;
  text-align: center;
}

.President-Candidacy {
  font-size: 32px;
}

.duration {
  font-size: 24px;
  margin-top: 10px;
  color: #606770;
}

/* voting css starts */

.percentage-bar-container {
  margin-top: 94px;
  margin-left: 396px;
  width: 100px;
  height: 20px;
  position: absolute;
}

.percentage-bar {
  height: 100%;
  background-color: #2f50a9 !important;
  width: 0%;
  border-radius: 8px;
  transition: width 0.3s ease-in-out;
}

.percentage-label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #31bccb; */
  font-weight: bold;
}

#candidate1 {
  background-color: #ff0000; /* Set the desired color for candidate1 */
}

#candidate2 {
  background-color: #00ff00; /* Set the desired color for candidate2 */
}

#candidate3 {
  background-color: #0000ff; /* Set the desired color for candidate3 */
}

#candidate4 {
  background-color: #fff825; /* Set the desired color for candidate4 */
}

/* voting css ends */

/* proposal */
.proposal {
  position: absolute;
  top: 120px;
  left: 1506px;
  width: 300px;
  height: 657px;
  background-color: #ffffff;
  box-shadow: 0px 8px 24px 0px rgba(44, 59, 99, 0.15);
}

.presidency {
  width: 300px;
  height: 94px;
  background-color: #213266;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 8px 0 0;
}

.presidency-text {
  color: #ffffff;
  font-size: 32px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.input-container input {
  width: 273.65px;
  height: 54.13px;
  font-size: 16px;
  border: none;
  margin-left: 13.18px;
  padding-top: 14.26px;
  border-bottom: 1px solid #c1c1c1;
  outline: none;
}

.input-container input::placeholder {
  color: #c1c1c1;
}

.drop-box {
  position: relative;
  width: 271.62px;
  height: 245.18px;
  margin-left: 14.7px;
  margin-top: 90px;
  border: 2px dashed #c1c1c1;
  text-align: center;
  font-size: 18px;
  color: #999999;
  cursor: pointer;
}

.drop-box.dragover {
  background-color: #f0f0f0;
}

.textbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.file-icon {
  font-size: 48px;
}

.submit-button {
  width: 271.62px;
  height: 43.52px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #213266;
  color: #ffffff;
  font-size: 16px;
  margin-top: 31px;
  margin-left: 16px;
}
