.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-poll-tab-clubs {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(240, 242, 245, 1);
}
.page-group115 {
  top: 1121px;
  left: 528px;
  width: 864px;
  height: 544.011474609375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-group90 {
  top: 0px;
  left: 0px;
  width: 864px;
  height: 471px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-image46 {
  top: 0px;
  left: 0px;
  width: 864px;
  height: 471px;
  position: absolute;
}
.page-rectangle3466752 {
  top: 226.35107421875px;
  left: 0px;
  width: 864px;
  height: 245px;
  position: absolute;
}
.page-text {
  top: 252px;
  left: 161px;
  color: rgba(255, 255, 255, 1);
  width: 542px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: center;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group144 {
  top: 517px;
  left: 106px;
  width: 654px;
  height: 15px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(224, 224, 224, 1);
}
.page-text02 {
  top: 1697px;
  left: 926px;
  color: rgba(0, 0, 0, 1);
  width: 68px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-poll-new-clubs-tab {
  top: 88px;
  left: 0px;
  width: 1920px;
  height: 1073px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(240, 242, 245, 1);
}
.page-group195 {
  top: 120px;
  left: 1506px;
  width: 300px;
  height: 663px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: center;
}
.page-rectangle3466816 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 663px;
  position: absolute;
  border-radius: 8px;
}
.page-rectangle3466794 {
  top: 592px;
  left: 16px;
  width: 268px;
  height: 41px;
  position: absolute;
  border-radius: 8px;
}
.page-text04 {
  top: 602px;
  left: 111px;
  color: rgba(255, 255, 255, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-rectangle3466817 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 93px;
  position: absolute;
  border-radius: 8px 8px 0 0;
}
.page-text05 {
  top: 9px;
  left: 37px;
  color: rgba(255, 255, 255, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: ExtraLight;
  text-align: center;
  font-family: Roboto;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text07 {
  top: 139px;
  left: 37px;
  color: rgba(192, 192, 192, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: ExtraLight;
  text-align: left;
  font-family: Roboto;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text09 {
  top: 241px;
  left: 37px;
  color: rgba(192, 192, 192, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: ExtraLight;
  text-align: left;
  font-family: Roboto;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-line37 {
  top: 211px;
  left: 37px;
  width: 225px;
  height: 1px;
  position: absolute;
}
.page-rectangle3466818 {
  top: 289px;
  left: 37px;
  width: 225px;
  height: 225px;
  position: absolute;
  border-color: rgba(192, 192, 192, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.page-materialsymbolscloudupload {
  top: 342px;
  left: 120px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.page-text11 {
  top: 391px;
  left: 71px;
  color: rgba(198, 198, 198, 1);
  width: 158px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-component22 {
  top: 39px;
  left: 757px;
  width: 405px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-rectangle3466814 {
  top: 0px;
  left: 0px;
  width: 366px;
  height: 41px;
  position: absolute;
  border-radius: 8px;
}
.page-rectangle3466815 {
  top: 0px;
  left: 0px;
  width: 202px;
  height: 41px;
  position: absolute;
  border-color: rgba(33, 50, 102, 0.4000000059604645);
  border-radius: 8px 0 0 8px;
}
.page-rectangle34668151 {
  top: 0px;
  left: 202.5px;
  width: 202px;
  height: 41px;
  position: absolute;
  border-radius: 0 8px 8px 0;
}
.page-text13 {
  top: 9px;
  left: 209.03225708007812px;
  color: rgba(255, 255, 255, 1);
  width: 188px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text15 {
  top: 9px;
  left: 23.5166015625px;
  color: rgba(0, 0, 0, 1);
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-left-panel-clubs {
  top: 120px;
  left: 114px;
  width: 300px;
  height: 1330px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 5px;
}
.page-rectangle587 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 1330px;
  position: absolute;
  border-radius: 5px;
}
.page-group158 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 167.39111328125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-image52 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 166px;
  position: absolute;
  border-radius: 5px 5px 0 0;
}
.page-rectangle3466781 {
  top: 109.78240966796875px;
  left: 0px;
  width: 300px;
  height: 58px;
  position: absolute;
  border-radius: 5px 5px 0 0;
}
.page-text17 {
  top: 121.7388916015625px;
  left: 92.390625px;
  color: rgba(240, 242, 245, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group159 {
  top: 167px;
  left: 0px;
  width: 300px;
  height: 167.767822265625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-image51 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 167px;
  position: absolute;
}
.page-rectangle34667811 {
  top: 109.78260803222656px;
  left: 0px;
  width: 300px;
  height: 58px;
  position: absolute;
  border-radius: 8px 8px 0 0;
}
.page-text19 {
  top: 120.65217590332031px;
  left: 77.17391204833984px;
  color: rgba(240, 242, 245, 1);
  width: 146px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group160 {
  top: 334px;
  left: 0px;
  width: 300px;
  height: 167.3913116455078px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-image54 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 167px;
  position: absolute;
}
.page-image521 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 166px;
  position: absolute;
}
.page-rectangle34667812 {
  top: 109.78247833251953px;
  left: 0px;
  width: 300px;
  height: 58px;
  position: absolute;
}
.page-text21 {
  top: 120.6522216796875px;
  left: 9.783203125px;
  color: rgba(240, 242, 245, 1);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group161 {
  top: 501px;
  left: 0px;
  width: 300px;
  height: 167.3913116455078px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-image541 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 167px;
  position: absolute;
}
.page-image522 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 166px;
  position: absolute;
}
.page-rectangle34667813 {
  top: 109.78250885009766px;
  left: 0px;
  width: 300px;
  height: 58px;
  position: absolute;
}
.page-text23 {
  top: 120.65210723876953px;
  left: 9.783116340637207px;
  color: rgba(240, 242, 245, 1);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group162 {
  top: 668px;
  left: -0.544921875px;
  width: 300.544921875px;
  height: 167.6953582763672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-image55 {
  top: 0px;
  left: 0px;
  width: 301px;
  height: 168px;
  position: absolute;
}
.page-image53 {
  top: 0px;
  left: 0px;
  width: 301px;
  height: 168px;
  position: absolute;
}
.page-image523 {
  top: 0px;
  left: 0px;
  width: 301px;
  height: 167px;
  position: absolute;
}
.page-rectangle34667814 {
  top: 109.98193359375px;
  left: 0px;
  width: 301px;
  height: 58px;
  position: absolute;
}
.page-text25 {
  top: 120.871337890625px;
  left: 9.798828125px;
  color: rgba(240, 242, 245, 1);
  width: 281px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group163 {
  top: 835px;
  left: 1.10546875px;
  width: 298.89453125px;
  height: 164.608642578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-image56 {
  top: 0px;
  left: 0px;
  width: 299px;
  height: 165px;
  position: absolute;
}
.page-rectangle34667815 {
  top: 107.21223449707031px;
  left: 0px;
  width: 299px;
  height: 57px;
  position: absolute;
}
.page-text27 {
  top: 118.041748046875px;
  left: 9.74609375px;
  color: rgba(240, 242, 245, 1);
  width: 279px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group164 {
  top: 999px;
  left: 1px;
  width: 298px;
  height: 166.27536010742188px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-image531 {
  top: 0px;
  left: 0px;
  width: 298px;
  height: 166px;
  position: absolute;
}
.page-image524 {
  top: 0px;
  left: 0px;
  width: 298px;
  height: 165px;
  position: absolute;
}
.page-image57 {
  top: 0px;
  left: 0px;
  width: 298px;
  height: 166px;
  position: absolute;
}
.page-rectangle34667816 {
  top: 109.05071258544922px;
  left: -3.637978807091713e-12px;
  width: 298px;
  height: 57px;
  position: absolute;
}
.page-text29 {
  top: 119.84765625px;
  left: 9.716796875px;
  color: rgba(240, 242, 245, 1);
  width: 279px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group177 {
  top: 1165px;
  left: 1px;
  width: 298px;
  height: 165.19564819335938px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(228, 230, 235, 1);
}
.page-text31 {
  top: 123.0869140625px;
  left: 78.8203125px;
  color: rgba(0, 0, 0, 1);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group197 {
  top: 120px;
  left: 528px;
  width: 864px;
  height: 623px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-group194 {
  top: 0px;
  left: 0px;
  width: 864px;
  height: 623px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-group114 {
  top: 0px;
  left: 0px;
  width: 864px;
  height: 623px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-group901 {
  top: 0px;
  left: 0px;
  width: 864px;
  height: 623px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-rectangle558 {
  top: 0px;
  left: 0px;
  width: 864px;
  height: 623px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.page-mark1 {
  top: 47.70914077758789px;
  left: 630.8984375px;
  width: 30px;
  height: 31px;
  position: absolute;
}
.page-text33 {
  top: 570px;
  left: 396px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-proff {
  top: 25.88642692565918px;
  left: 314px;
  width: 235px;
  height: 30.006595611572266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-text35 {
  top: 17.257814407348633px;
  left: 106px;
  color: rgba(96, 103, 112, 1);
  width: 45px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text37 {
  color: rgba(0, 0, 0, 1);
  width: 235px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group1441 {
  top: 514px;
  left: 104px;
  width: 653.5px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-rectangle3466763 {
  top: 19px;
  left: 0px;
  width: 163px;
  height: 15px;
  position: absolute;
  border-radius: 8px 0 0 8px;
}
.page-rectangle3466765 {
  top: 19px;
  left: 327px;
  width: 163px;
  height: 15px;
  position: absolute;
}
.page-rectangle3466766 {
  top: 19px;
  left: 164px;
  width: 163px;
  height: 15px;
  position: absolute;
}
.page-rectangle3466764 {
  top: 19px;
  left: 490px;
  width: 163px;
  height: 15px;
  position: absolute;
  border-radius: 0 8px 8px 0;
}
.page-text39 {
  left: 65px;
  color: rgba(0, 0, 0, 1);
  width: 33px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text41 {
  top: 1px;
  left: 555px;
  color: rgba(0, 0, 0, 1);
  width: 33px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text43 {
  top: 2px;
  left: 229px;
  color: rgba(0, 0, 0, 1);
  width: 33px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text45 {
  top: 2px;
  left: 392px;
  color: rgba(0, 0, 0, 1);
  width: 33px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-rectangle3466819 {
  top: 364px;
  left: 103px;
  width: 88px;
  height: 62px;
  position: absolute;
  border-radius: 8px;
}
.page-rectangle3466820 {
  top: 364px;
  left: 286px;
  width: 88px;
  height: 62px;
  position: absolute;
  border-radius: 8px;
}
.page-rectangle3466821 {
  top: 364px;
  left: 482px;
  width: 88px;
  height: 62px;
  position: absolute;
  border-radius: 8px;
}
.page-rectangle3466822 {
  top: 364px;
  left: 673px;
  width: 88px;
  height: 62px;
  position: absolute;
  border-radius: 8px;
}
.page-image67 {
  top: 369px;
  left: 121px;
  width: 51px;
  height: 51px;
  position: absolute;
  border-radius: 8px;
}
.page-image68 {
  top: 369px;
  left: 304px;
  width: 51px;
  height: 51px;
  position: absolute;
  border-radius: 8px;
}
.page-image69 {
  top: 369px;
  left: 500px;
  width: 51px;
  height: 51px;
  position: absolute;
  border-radius: 8px;
}
.page-image70 {
  top: 369px;
  left: 691px;
  width: 51px;
  height: 51px;
  position: absolute;
  border-radius: 8px;
}
.page-group196 {
  top: 132px;
  left: 61px;
  width: 741.62939453125px;
  height: 206px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-image66 {
  top: 0px;
  left: 570px;
  width: 172px;
  height: 170px;
  position: absolute;
  border-radius: 8px;
}
.page-image63 {
  top: 0px;
  left: 380px;
  width: 170px;
  height: 170px;
  position: absolute;
  border-radius: 8px;
}
.page-image65 {
  top: 0px;
  left: 0px;
  width: 170px;
  height: 170px;
  position: absolute;
  border-radius: 8px;
}
.page-image62 {
  top: 0px;
  left: 190px;
  width: 170px;
  height: 170px;
  position: absolute;
  border-radius: 8px;
}
.page-text47 {
  top: 187px;
  left: 57px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text49 {
  top: 187px;
  left: 225px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text51 {
  top: 187px;
  left: 410px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text53 {
  top: 187px;
  left: 615px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-top-navbar {
  top: -2px;
  left: 0px;
  width: 1920px;
  height: 90px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 8px 24px 0px rgba(44, 59, 99, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-rectangle531 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 90px;
  position: absolute;
}
.page-text55 {
  top: 35px;
  left: 1624px;
  color: rgba(33, 50, 102, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-rectangle569 {
  top: 86px;
  left: 1061px;
  width: 70px;
  height: 4px;
  position: absolute;
}
.page-group125 {
  top: 14px;
  left: 800px;
  width: 316px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-polls-tab {
  top: 0px;
  left: 275px;
  width: 41px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-vector {
  top: 0px;
  left: 2px;
  width: 38px;
  height: 38px;
  position: absolute;
}
.page-text57 {
  top: 46px;
  color: rgba(0, 0, 0, 1);
  width: 41px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-clubs-tab {
  top: 0px;
  left: 141px;
  width: 41px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-image24 {
  top: 0px;
  left: 0px;
  width: 38px;
  height: 38px;
  position: absolute;
}
.page-text59 {
  top: 46px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-home-tab {
  top: 0px;
  left: 0px;
  width: 44px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-vector1 {
  top: 0px;
  left: 1px;
  width: 43px;
  height: 38px;
  position: absolute;
}
.page-text61 {
  top: 46px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group128 {
  top: 16px;
  left: 1705.99951171875px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-ellipse141 {
  top: 1px;
  left: 1.48046875px;
  width: 57px;
  height: 57px;
  position: absolute;
}
.page-group1281 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-ellipse1411 {
  top: 3px;
  left: 0.48046875px;
  width: 57px;
  height: 57px;
  position: absolute;
}
.page-image49 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
}
.page-image27 {
  top: 7px;
  left: 227px;
  width: 74px;
  height: 76px;
  position: absolute;
}
